@model Seguimiento.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h4 class="titulos_editar">Editar el producto</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label">Precio</label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label">Cantidad</label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="talle" class="control-label">Talle</label>
                <input asp-for="talle" class="form-control" />
                <span asp-validation-for="talle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagen" class="control-label">Dirección imagen</label>
                <input asp-for="imagen" class="form-control" />
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="boton-link" asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
