@model Seguimiento.Models.Carrito

@{
    ViewData["Title"] = "Delete";
}

<h3 class="titulos_borrar">¿Seguro que quieres borrar el producto del carrito?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class = "boton-link" asp-action="Index">Volver a la lista</a>
    </form>
</div>
