@model Seguimiento.Models.Carrito

@{
    ViewData["Title"] = "Delete";
}


<h3 class="titulos_borrar">¿Seguro que quieres borrar el carrito?</h3>
<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProducto)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="BORRAR" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
