@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Ingreso a Cliente</h1>
<br />
<form>
    @* NOMBRE CLIENTE*@
    <div class="form-group row">
        <label for="nombreCliente" class="col-sm-2 col-form-label">NOMBRE</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombreCliente" placeholder="Nombre" />
        </div>
    </div>
    @* APELLIDO CLIENTE*@
    <div class="form-group row">
        <label for="apellidoCliente" class="col-sm-2 col-form-label">APELLIDO</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apellidoCliente" placeholder="Apellido" />
        </div>
    </div>
    @* DNI CLIENTE*@
    <div class="form-group row">
        <label for="dniCliente" class="col-sm-2 col-form-label">DNI</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="dniCliente" placeholder="DNI" />
        </div>
    </div>
    @* EMAIL CLIENTE*@
    <div class="form-group row">
        <label for="emailCliente" class="col-sm-2 col-form-label">EMAIL</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="emailCliente" placeholder="Email" />
        </div>
    </div>
    @* DIRECCION CLIENTE*@
    <div class="form-group row">
        <label for="direccionCliente" class="col-sm-2 col-form-label">DIRECCIÓN</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="direccionCliente" placeholder="Dirección" />
        </div>
    </div>
    @* TELEFONO CLIENTE*@
    <div class="form-group row">
        <label for="telefonoCliente" class="col-sm-2 col-form-label">TELÉFONO</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="telefonoCliente" placeholder="Teléfono" />
        </div>
    </div>
    @* SUBMIT *@
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>