
<h1>Ingreso a Empleado</h1>
<br />
<form>
    @* NOMBRE EMPLEADO*@
    <div class="form-group row">
        <label for="nombreEmpleado" class="col-sm-2 col-form-label">NOMBRE</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombreEmpleado" placeholder="Nombre" />
        </div>
    </div>
    @* APELLIDO EMPLEADO*@
    <div class="form-group row">
        <label for="apellidoEmpleado" class="col-sm-2 col-form-label">APELLIDO</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apellidoEmpleado" placeholder="Apellido" />
        </div>
    </div>
    @* LEGAJO EMPLEADO*@
    <div class="form-group row">
        <label for="legajoEmpleado" class="col-sm-2 col-form-label">LEGAJO</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="legajoEmpleado" placeholder="Nº Legajo" />
        </div>
    </div>
    @* SUBMIT *@
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
