
<div class="text-center">
    <h1 class="display-6">Administrador de Envios</h1>
</div>
<div>
    <div class="row">
        @*CARRITO*@
        <div class="col-sm-3">
            <div>
                <img src="./imagenes/basket.png" class="img-thumbnail" alt="Carrito" />
                <hr />
                <br />
                <table>
                </table>
                <hr />
                <button class="btn btn-success">Procesar Envío</button>
            </div>
        </div>
        @*TABLA*@
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            IMAGEN
                        </th>
                        <th>
                            NOMBRE
                        </th>
                        <th>
                            PRECIO
                        </th>
                        <th>
                            CANTIDAD
                        </th>
                        <th>
                            TALLE
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <hr />
                            <bold>CANTIDAD ARTICULOS</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold>SUBTOTAL</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold>ENVIO</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold>TOTAL</bold>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
