
<div class="text-center">
    <h1 class="display-6 titulo" style="color:lightseagreen">Administrador de envios</h1>
</div>
<div>
    <div class="row">
        @*CARRITO*@
        <div class="col-sm-3">
            <div>
                <img src="./imagenes/basket.png" class="img-thumbnail" alt="Carrito" />
                <hr />
                <br />
                <table>
                </table>
                <hr />
                <button class="btn btn-success">Procesar Envío</button>
            </div>
        </div>
        @*TABLA*@
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="celdas">
                            Imagen
                        </th>
                        <th class="celdas">
                            Nombre
                        </th>
                        <th class="celdas">
                            Precio
                        </th>
                        <th class="celdas">
                            Cantidad
                        </th>
                        <th class="celdas">
                            Talle
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot class="cel">
                    <tr>
                        <td>
                            <hr />
                            <bold class="celdas">Cantidad articulos</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold class="celdas" >Subtotal</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold class="celdas">Envio </bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <bold class="celdas">Total</bold>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
