
<div class="text-center">
    <h1 class="display-6">Administrador de Envios</h1>
</div>
<div>
    <div class="row">
        @*CARRITO*@
        <div class="col-sm-3">
            <div>
                <img src="./imagenes/basket.png" class="img-thumbnail" alt="Carrito" />
                <table>
                </table>
                <button class="btn btn-success">Procesar Envío</button>
            </div>
        </div>
        @*TABLA*@
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <th scope="col">
                        Seleccionar Articulo
                    </th>
                    <th scope="col">
                        Seleccionar Cantidad
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <bold>DESPLIEGUE TABLA</bold>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <bold>DESPLIEGUE TABLA</bold>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Cantidad Articulos
                        </td>
                        <td>
                            //Completar con variable
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subtotal
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Envio
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TOTAL
                        </td>
                        <td>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
