
<div class="text-center">
    <h1 class="display-6">Administrador de Envios</h1>
</div>

<div>
    <table class="table">
        <thead>
        <th scope="col">
            Seleccionar Articulo
        </th>
        <th scope="col">
            Seleccionar Cantidad
        </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <bold>DESPLIEGUE TABLA</bold>
                </td>
            </tr>
            <tr>
                <td>
                    <bold>DESPLIEGUE TABLA</bold>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    Cantidad Articulos
                </td>
                <td>
                    //Completar con variable
                </td>
            </tr>
            <tr>
                <td>
                    Subtotal
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Envio
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    TOTAL
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
    <button class="btn btn-success">Aceptar</button>
</div>

<div id="carrito">
    <table>
        <h1>ACA CARRITO</h1>
    </table>
</div>