@model Seguimiento.Models.Direccion

@{
    ViewData["Title"] = "Create";
}

<h4>Ingreso a Dirección</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="provincia" class="control-label">PROVINCIA</label>
                <input asp-for="provincia" class="form-control" />
                <span asp-validation-for="provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calle" class="control-label">CALLE</label>
                <input asp-for="calle" class="form-control" />
                <span asp-validation-for="calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero" class="control-label">NUMERO</label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="localidad" class="control-label">LOCALIDAD</label>
                <input asp-for="localidad" class="form-control" />
                <span asp-validation-for="localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Clientes" asp-action="Create">Volver a Cliente</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
