@model Seguimiento.Models.Direccion

@{
    ViewData["Title"] = "Edit";
}

<h4 class="titulos_editar">Editar la dirección</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="provincia" class="control-label"></label>
                <input asp-for="provincia" class="form-control" />
                <span asp-validation-for="provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calle" class="control-label"></label>
                <input asp-for="calle" class="form-control" />
                <span asp-validation-for="calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="localidad" class="control-label"></label>
                <input asp-for="localidad" class="form-control" />
                <span asp-validation-for="localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="boton-link" asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
